<template name="header">
<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header ">
      
            <div class="navbar-brand col-xs-2" id='prozam'>
              <span class='sb-toggle-left'> Prozam </span>
            </div>   
        
            <span class='visible-xs '  >
              <div class="col-xs-2">     </div>                            
                    <div class="dropdown col-xs-4">
                      {{> notifications}}
                    </div>                           
                    <div class='col-xs-4 list-unstyled'><span id='account'>{{> accountButtons}}</span></div>
          
            </span> 
          </div>
        <span class="collapse navbar-collapse navHeaderCollapse ">
          <ul class="nav navbar-nav">
            <li class="{{activeRouteClass 'home' 'newPosts'}}">
              <a href="{{pathFor 'newPosts'}}">New</a>
            </li>
            <li class="{{activeRouteClass  'bestPosts'}}">
              <a href="{{pathFor 'bestPosts'}}">Best</a>
            </li>
            <li class="{{activeRouteClass  'pastWords'}}">
              <a href="{{pathFor 'pastWords'}}">Past Words</a>
            </li>          
            {{#if currentUser}}
            <li class="{{activeRouteClass  'myBestPosts'}}">
              <a href="{{pathFor 'myBestPosts'}}">MyBest</a>
            </li>                      
            <li class="{{activeRouteClass 'postSubmit'}}">
              <a href="{{pathFor 'postSubmit'}}"><i class="fa fa-pencil fa-2x"></i>Submit Your Poem</a>
            </li>
            {{/if}}
          </ul>
            <ul class="nav navbar-nav navbar-right ">
              
                    <li class="dropdown">
                      {{> notifications}}
                    </li>                           
                    <li><span id='account'>{{> accountButtons}}</span></li>
            </ul>  
      </span>            

    </div>
</div>
</template>

