<template name="header">
<div class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header ">
            <div class="navbar-brand " id='prozam'>
              <span class='sb-toggle-left'> Prozam </span>
            </div>   

            <button type="button" class="navbar-toggle " data-toggle="collapse" data-target=".navHeaderCollapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse navHeaderCollapse ">
                  <ul class="nav navbar-nav">
        <li class="{{activeRouteClass 'home' 'newPosts'}}">
            <a href="{{pathFor 'newPosts'}}">New</a>
          </li>
          <li class="{{activeRouteClass  'bestPosts'}}">
            <a href="{{pathFor 'bestPosts'}}">Best</a>
          </li>
          <li class="{{activeRouteClass  'pastWords'}}">
            <a href="{{pathFor 'pastWords'}}">Past Words</a>
          </li>          
          {{#if currentUser}}
          <li class="{{activeRouteClass  'myBestPosts'}}">
            <a href="{{pathFor 'myBestPosts'}}">MyBest</a>
          </li>                      
            <li class="{{activeRouteClass 'postSubmit'}}">
              <a href="{{pathFor 'postSubmit'}}"><i class="fa fa-pencil fa-2x"></i>Submit Your Poem</a>
            </li>
 
          {{/if}}
      </ul>
                           <ul class="nav navbar-nav navbar-right ">
              <li class="dropdown">
                {{> notifications}}
              </li>                           
              <li><div id='account' class='visible-lg visible-md'>{{> accountButtons}}</div></li>
            </ul>  
        </div>
      <div>

      </div>
    </div>
</div>
    {{> activity}}
</template>

