<template name="mobile_nav ">
  <div class='activity'>
    <div>
      <ul class='sb-menu'>
          <li>
          <a href="#"  class="newPosts sb-close" >New</a>
        </li>
        <li >
          <a href="#" class="bestPosts sb-close">Best</a>
        </li>
        <li >
          <a href="#" class="pastWords sb-close">Past Words</a>
        </li>          

        <li >
          <a href="#" class="myBestPosts sb-close">MyBest</a>
        </li>                      
        <li >
          <a href="#" class="postSubmit sb-close"><i class="fa fa-pencil fa-2x"></i>Submit Your Poem</a>
        </li>
       
      </ul>
    </div>
  </div>
</template>