<template name="postItem">
  <div class="panel panel-default" {{attributes}}>
    <div class="panel-heading"> 
      <h2 class="panel-title">
        <a class="btn btn-default btn-lg {{upvotedClass}} {{livePost}} " href="#">
         <i class="fa fa-thumbs-up fa-2x"></i>
        </a>
        <a href="{{pathFor 'postPage'}}">{{title}}</a>

        <a href="/words/{{word._id}}" class='pull-right'>{{word.word}}</a>
        
      </h2>
    </div>
    <div class="panel-body">
      <div class="text show-more-height">
        <h3>
          <span>
            {{poem}}
          </span>
        </h3>
      </div>
      <hr>
      <div class="row">
        <div class="col-xs-3">
          <i class="fa fa-thumbs-up fa-2x"></i>
          {{votes}}
        </div>  
        <div class="col-xs-5">  
          <i class="fa fa-user fa-2x"></i> {{author}}
        </div>  
        <div class="col-xs-3">    
          <a href="{{pathFor 'postPage'}}"><i class="fa fa-comment fa-2x"></i>{{commentsCount}}</a>
        </div>  
        <div class="col-xs-1">           
          {{#if ownPost}}<a href="{{pathFor 'postEdit'}}">Edit</a>{{/if}}
        </div>   
      </div>
  </div>
  </div>
</template>