<template name="postItem">
  <div class="panel panel-default" {{attributes}}>
   <div class="panel-heading"> 
     <h2 class="panel-title">
       <a class="btn btn-default btn-sm {{upvotedClass}}" href="#">
         <i class="fa fa-thumbs-up  fa-lg"></i></a>
       <a href="{{pathFor 'postPage'}}">{{title}}</a>
     </h2>
   </div>
    <div class="panel-body">
       <div class="text show-more-height">
      <h3>
        <br>
        <span>
          {{poem}}
       </span>
      </h3>
    </div>
      <hr>
      <p class="panel">
        <i class="fa fa-thumbs-up "></i>
        {{pluralize votes "Vote"}},
        <i class="fa fa-user "></i> {{author}},
        <a href="{{pathFor 'postPage'}}"><i class="fa fa-comment"></i>{{pluralize commentsCount "comment"}}</a>
        {{#if ownPost}}<a href="{{pathFor 'postEdit'}}">Edit</a>{{/if}}
      </p>
    </div>
  </div>
</template>